.user-list-container {
  max-width: 800px;
  margin: 0 auto;
}

.user-list {
  list-style-type: none;
  padding: 0;
}

.user-card {
  background: #f4f4f4;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 10px;
  text-align: left;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
